[submodule "grammars/tree-sitter-rust"]
	path = grammars/tree-sitter-rust
	url = https://github.com/tree-sitter/tree-sitter-rust
[submodule "grammars/tree-sitter-toml"]
	path = grammars/tree-sitter-toml
	url = https://github.com/tree-sitter/tree-sitter-toml
