[package]
name = "kak-tree-sitter"
version = "0.3.0"
license = "BSD-3-Clause"
authors = ["Dimitri Sabadie <dimitri.sabadie@gmail.com>"]
description = "Server between Kakoune and tree-sitter"
keywords = ["tree-sitter", "kakoune"]
categories = ["text-editors"]
homepage = "https://github.com/phaazon/kak-tree-sitter"
repository = "https://github.com/phaazon/kak-tree-sitter"
readme = "../README.md"
edition = "2021"
rust-version = "1.65.0"

[dependencies]
clap = { version = "4.3.5", features = ["derive"] }
colored = "2.0.0"
daemonize = "0.5.0"
dirs = "5.0.0"
itertools = "0.11.0"
kak-tree-sitter-config = { version = "0.2.0", path = "../kak-tree-sitter-config" }
libloading = "0.8.0"
serde = { version = "1.0.164", features = ["derive"] }
serde_json = "1.0.99"
thiserror = "1.0.40"
tokio = { version = "1.28.2", features = ["rt", "rt-multi-thread", "net", "io-util", "macros", "sync"] }
tree-sitter = "0.20.10"
tree-sitter-highlight = "0.20.1"
